body {
  background-color: #15191d;
  width: 190px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    padding: 10px;
  }
  
  h1 {
    color: #bfbfbf;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  label {
    color: #bfbfbf;
    display: block;
    margin-bottom: 10px;
  }
  
  select, input[type=number] {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  button[type=submit] {
    background-color: #0078d4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button[type=submit]:hover {
    background-color: #005a9e;
  }
  button[type=button] {
    background-color: #0078d4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button[type=button]:hover {
    background-color: #005a9e;
  }
  p{
    color: #a50000;
    font-size: 10px;
  }
  